{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">Minha agenda</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
          {% for contact in contacts %}
            {% if contact.mostrar %}
            <tr>
              <td>
                <a href="{% url 'view_contact' contact.id %}"> {{ contact.nome }}</a>
              </td>
              <td>{{ contact.sobrenome }}</td>
              <td>{{ contact.telefone }}</td>
              <td>{{ contact.categoria }}</td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    {% for pagina in contacts.paginator.page_range %}
      {% if contacts.number == pagina %}
    <li class="page-item"><a class="page-link active" href="?p={{ pagina }}">{{pagina}}</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="?p={{ pagina }}">{{pagina}}</a></li>
      {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
{% endblock %}