{% extends 'base.html' %}
{% block title %} {{ contact.nome }} {{ contact.sobrenome }}{% endblock %}
{% block content %}
<h1 class="mt-5">{{ contact.nome }} {{ contact.sobrenome }}</h1>
  {% if contact.images %}
  <p>
    <img src="{{ contact.images.url }}" alt="" style="max-width:250px">
  </p>
  {% endif %}
        <dl>
          <dt>Id</dt>
          <dd>{{ contact.id }}</dd>

          <dt>Telefone</dt>
          <dd>{{ contact.telefone }}</dd>

          <dt>E-mail</dt>
          <dd>{{ contact.email }}</dd>

          <dt>Data criação</dt>
          <dd>{{ contact.data_criacao|date:'d/m/Y H:i' }}</dd>

          <dt>Categoria</dt>
          <dd>{{ contact.categoria }}</dd>

          <dt>Descrição</dt>
          <dd>
            {{ contact.descricao }}
          </dd>
        </dl>
{% endblock %}